body {
    background-color: rgb(215, 215, 215);
    font-family: 'Noto Serif SC', serif;
}

emp {
    color: red;
}

p {
    text-indent: 2em;
}

h1, h4 {
    text-align: center;
}

.b .first, .h .first, .i .first{
    text-indent: 5px;
    border-left: 4px solid red;
}

.b .second {
    font-size: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 20vw);
    grid-gap: 1em;
    margin: 6vw;
}

.grid > * {
    color: rgb(90, 90, 90);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: scroll;
    padding: 1em;
}

.grid .a {
    padding: 0;
    margin: 0;
}

.grid .a img {
    margin: 0;
    width: 100%;
}

.grid .b {
    padding: 2em;
    grid-column: 2 / 4;
    grid-row: 1 /3;
}

.grid .c {
    color: white;
    background-image: url(../img/01.jpeg);
    background-size: cover;
}

.grid .e {
    color: white;
    background-image: url(../img/02.jpeg);
    background-size: cover;
}

.grid .f {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    background-image: url(../img/05.png);
    background-size: cover;
}

.grid .j {
    color: white;
    background-image: url(../img/03.jpeg);
    background-size: cover;
}